<div class="row-card" id="space-between">
  <h2>Registered Interviews</h2>
</div>

<div class="card-column">
  <div class="card">
    <app-loading-spinner *ngIf = "showSpinner"></app-loading-spinner>
    <section>
      <header>
        <div class="col-3 col1 headerBold">Candidate</div>
        <div class="col-6 col headerBold">Position</div>
        <!-- <div class="col-4 col text-center headerBold">Actions</div> -->
      </header>

      <!-- <div class="row" *ngFor="let interview of registeredInterview | async">
        <div class="col-3 col1">{{ interview.candidate.fullName }}</div>
        <div class="col-6 col">{{ interview.candidate.email }}</div>
        <div class="col-2 col d-flex justify-content-end">
          <div class="dropdown show dropleft">
            <a class="d-flex align-items-center font-weight-bold" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-3 col1">Andrey</div>
        <div class="col-6 col">iOS DEV</div>
        <div class="col-2 col d-flex justify-content-end">
          <div class="dropdown show dropleft">
            <button class="add-round-btn" (click)="openDialog(interview)">
              +  Interview
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
