<div class="row-card" id="space-between">
  <h2>Employees</h2>
  <button class="add-round-btn" (click)="createEmployee()">
    + New Employee
  </button>
</div>

<div class="card-column">
  <div class="card">
    <section>
      <header>
        <div class="col1">First Name</div>
        <div class="col">Last Name</div>
        <div class="col">Email</div>
        <div class="col">Actions</div>
      </header>

      <div class="row" *ngFor="let employee of employees | async">
        <div class="col1">{{ employee.name }}</div>
        <div class="col">{{ employee.surname }}</div>
        <div class="col">{{ employee.email }}</div>
        <div class="col">
          <button (click)="employeeDetails(employee.id)" class="btn">
            Details
          </button>
          <button (click)="updateEmployee(employee)" class="btn">
            Update
          </button>
          <button (click)="deleteEmployee(employee)" class="btn">
            Delete
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
