<div class="row-card" id="space-between">
  <h2>Employees</h2>
  <button class="add-round-btn" (click)="createEmployee()">
    + New Employee
  </button>
</div>

<div class="card-column">
  <div class="card">
    <section>
      <header>
        <div class="col-2 col1 headerBold">Name</div>
        <div class="col-2 col headerBold">Position</div>
        <div class="col-2 col headerBold">Phone</div>
        <div class="col-2 col headerBold">Email</div>
        <!-- <div class="col-4 col text-center headerBold">Actions</div> -->
      </header>

      <div class="row" *ngFor="let employee of employees | async">
        <div class="col-2 col1">{{ employee.fullName }}</div>
        <div class="col-2 col">{{ employee.position }}</div>
        <div class="col-2 col">{{ employee.phoneNumber }}</div>
        <div class="col-2 col">{{ employee.email }}</div>
        <div class="col-3 col d-flex justify-content-end">
          <div class="dropdown show dropleft">
            <a class="d-flex align-items-center font-weight-bold" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item header-bold" (click)="updateEmployee(employee)">EDIT</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger header-bold" (click)="deleteEmployee(employee)">REMOVE</a>
            </div>
          </div>
        </div>
      </div>
      
    </section>
  </div>
</div>

<!-- <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
<table class="minimalistBlack" *ngIf="records.length > 0">     
  <tbody>    
    <tr *ngFor="let record of records;let i = index;">    
      <td> <span>{{record.id}}</span> </td>    
      <td> <span>{{record.firstName}}</span> </td>    
      <td> <span>{{record.lastName}}</span> </td>    
      <td> <span>{{record.age}}</span> </td>    
      <td> <span>{{record.position}}</span> </td>    
      <td> <span>{{record.mobile}}</span> </td>    
    </tr>    
  </tbody>    
</table>   -->


