header,
.row {
  display: flex;
  align-items: center;
  margin: 0;
  border-bottom: 0.5px solid #efefef;
}
.myEmployeeModalClass .modal-dialog {
  max-width: 565px;
}

.col {
  align-items: center;
  padding: 0%;
  font-size: 14px;
}
.headerBold {
  font-weight: 500;
}
.dropdown-menu {
  border-radius: 8px;
}
.col1 {
  padding: 0%;
  display: flex;
  flex: 1;
  height: 56px;
  align-items: center;
  width: 100%;
  margin-left: 5%;
}

section {
  width: 100%;
}

.btn {
  padding: 10px;
  align-items: center;
  color: #2f80ed;
  background: #ffffff;
  border: 1px solid #4d77fb;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  /*overflow: hidden;*/
}

