

.card{
  overflow: hidden;
}

.back {
  align-self: center;
  cursor: pointer;
  font-size: 2rem;
  padding: 20px;
}


/*.back:hover {
  color: rgb(77, 119, 251, 0.7);
}*/

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title h2:hover {
  color: rgb(77, 119, 251);
  cursor: pointer;
}

.add-round-btn:hover .icon{
  filter:  grayscale(100%) brightness(0%) invert(100%);
}


.row-card {
  padding-bottom: 0;
}

.col-7 {
  padding-left: 50px;
}

.form-control {
  height: calc(2em + 0.75rem + 2px);
}

.comments .form-control {
  height: calc(10em + 0.75rem + 2px);
  padding-bottom: 10%;
}
.form-control:disabled {
  box-shadow: 0px 0px 15px -4px rgba(87,87,87,0.21);
  border: none;
  background-color: white;
  height: calc(2em + 0.75rem + 2px)
}