header,
.row {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #efefef;
}

.row {
  margin: 0%;
}
.dropdown {
  border-radius: 8px;
}
.col {
  display: flex;
  flex: 1;
  height: 56px;
  align-items: center;
}

.col1 {
  display: flex;
  flex: 1;
  height: 56px;
  align-items: center;
  margin-left: 5%;
}

section {
  width: 100%;
}

.btn {
  padding: 10px;
  align-items: center;
  color: #2f80ed;
  background: #ffffff;
  border: 1px solid #4d77fb;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.row:hover {
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(223,227,230, 0.8);
}

.card{
  overflow: hidden;
}

.back {
  align-self: center;
  cursor: pointer;
  font-size: 2rem;
  padding: 20px;
}


/*.back:hover {
  color: rgb(77, 119, 251, 0.7);
}*/

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title h2:hover {
  color: rgb(77, 119, 251);
  cursor: pointer;
}