<div class="row-card" id="space-between">
  <h2>{{title}}</h2>
  <button class="add-round-btn" (click)="doCreate()">
    + New Candidate
  </button>
</div>

<div class="card-column">
  <div class="card">
    <section>
      <div class="row" *ngFor="let candidate of candidates | async">
        <div class="col-8 col1">{{ candidate.fullName }}</div>

        <div class="col-3 col d-flex justify-content-end">
          <div class="dropdown show dropleft">
            <a class="d-flex align-items-center font-weight-bold" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item header-bold" (click)="doEdit(candidate.id)">EDIT</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger header-bold" (click)="doDelete(candidate)">REMOVE</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
