<div class="row-card" id="space-between">
  <h2>Approved Interviews</h2>
  <!-- <button class="add-round-btn" (click)="createEmployee()">
    + New Employee
  </button> -->
</div>

<div class="card-column">
  <div class="card">
    <section>
      <header>
        <div class="col-3 col1 headerBold">Candidate</div>
        <div class="col-6 col headerBold">Position</div>
        <div class="col-3 col headerBold">Date</div>
        <!-- <div class="col-4 col text-center headerBold">Actions</div> -->
      </header>

      <div class="row" *ngFor="let interview of approvedInterview | async">
        <div class="col-3 col1">{{ interview.candidate.fullName }}</div>
        <div class="col-6 col">{{ interview.candidate.email }}</div>
        <div class="col-3 col">{{ interview.interviewDate }}</div>
      </div>
    </section>
  </div>
</div>
