<!-- for logout -->
<!-- a routerLink="" class="nav-link" routerLinkActive="active"> </a> -->

<!-- for card
<router-outlet></router-outlet> -->

<div class="container">
    <app-navigation></app-navigation>
    <div class="column">
      <div class="navbar">
        <div class="content">
          <a href="#"> <img src="../assets/search.svg" alt="" /></a>
          <a href="#"> <img src="../assets/ava.svg" alt="" /></a>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
