.save {
  background: #4d77fb;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-weight: 300;
}


.cancel {
  background: #e9ecff;
  border-radius: 8px;
  font-style: normal;
  font-size: 18px;
  color: #4d77fb;
  font-weight: 300;
}
