<div class="row-card" id="space-between">
  <h2>Vacancies</h2>
  <button class="add-round-btn" (click)="doCreate()">
    + New Vacancy
  </button>
</div>

<div class="card-column">
  <div class="card">
    <section>
      <header>
        <div class="col1">Vacancy</div>
        <div class="col">Actions</div>
      </header>

      <div class="row" *ngFor="let vacancy of vacancies | async">
        <div class="col1">{{ vacancy.name }}</div>

        <div class="col">
          <button (click)="doEdit(vacancy.id)" class="btn">
            Details
          </button>
          <button (click)="doUpdate(vacancy)" class="btn">
            Update
          </button>
          <button (click)="doDelete(vacancy)" class="btn">
            Delete
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
