<div class="row-card" id="space-between">
  <h2>Vacancies</h2>
  <button class="add-round-btn" (click)="doCreate()">
    + New Vacancy
  </button>
</div>

<div class="card-column">
  <div class="card">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    <section>
      <div class="row" *ngFor="let vacancy of vacancies | async">
        <div class="col-8 col1" (click)="doEdit(vacancy.id)">{{ vacancy.name }}</div>
        <div class="col-3 col d-flex justify-content-end">
          <div class="dropdown show dropleft">
            <a class="d-flex align-items-center font-weight-bold" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item header-bold" (click)="doUpdate(vacancy)">EDIT</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger header-bold"
                (click)="doDelete(vacancy);$event.stopPropagation()">REMOVE</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>