<div class="row-card" id="space-between">
  <h2>Vacancies</h2>
  <button class="add-round-btn" (click)="doCreate()">
    + New Vacancy
  </button>
</div>

<div class="card-column">
  <div class="card">
    <section>
      <!-- <app-loading-spinner *ngIf = "showSpinner"></app-loading-spinner> -->
      <div class="row" *ngFor="let vacancy of vacancies | async" (click)="doEdit(vacancy.id)">
        <div class="col-8 col1">{{ vacancy.name }}</div>
          <div class="remove" style="color: red;" (click)="doDelete(vacancy);$event.stopPropagation()">x
        </div>
      </div>
    </section>
  </div>
</div>
