header,
.row {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #efefef;
}

.row {
  margin: 0%;
}
.dropdown {
  border-radius: 8px;
}
.col {
  display: flex;
  flex: 1;
  height: 56px;
  align-items: center;
}

.col1 {
  display: flex;
  flex: 1;
  height: 56px;
  align-items: center;
  margin-left: 5%;
}

section {
  width: 100%;
}

.btn {
  padding: 10px;
  align-items: center;
  color: #2f80ed;
  background: #ffffff;
  border: 1px solid #4d77fb;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

