<div class="left-menu">
  <div class="fixed">
    <div class="column">
      <div class="row" id="align-center">
        <div class="square" style="margin-right: 10px; color: #4d77fb;"></div>
        <p style="color: #4d77fb;">HR Module</p>
      </div>
      <div class="menu-card">
        <ul>
          <div class="link" routerLink="vacancy">
            <li [ngClass]="{'active':active == 'Vacancies'}" (click)="setActive('Vacancies')" class="active">
              <a class="icon"> <img src="../assets/vac.svg" alt="" /></a>
              <a>Vacancies</a>
              <div class="wrap"><a class="count" href="">{{ vacancyList.length }}</a></div>
            </li>
          </div>
          <div class="link" routerLink="employee">
            <li [ngClass]="{'active':active == 'Employees'}" (click)="setActive('Employees')">
              <a class="icon"> <img src="../assets/emp.svg" alt="" /></a>
              <a>Employees</a>
            </li>
          </div>
          <!-- needs to be fixed -->
          <li
            type="button"
            data-toggle="collapse"
            data-target="#example"
            aria-expanded="true"
            aria-controls="example"
            [ngClass]="{'active':active == 'Interviews'}" 
          >
            <a class="icon"> <img src="../assets/inter.svg" alt="" /></a>
            <a>Interviews</a>
            <!-- <a class="arrow"> <img src="../assets/up.svg" alt="" /></a> -->
            <a class="arrow"> <img src="../assets/down.svg" alt="" /></a>
          </li>
          <div class="collapse" id="example">
            <ul class="submenu">
              <div class="link" routerLink="interview/registered">
                <li [ngClass]="{'active':active == 'Registered'}" (click)="setActive('Registered')"  ><a>Registered</a></li>
              </div>
              <div class="link" routerLink="interview/approved">
                <li  [ngClass]="{'active':active == 'Approved'}" (click)="setActive('Approved')"  ><a>Approved</a></li>
              </div>
              <div class="link" routerLink="interview/completed">
                <li  [ngClass]="{'active':active == 'Completed'}" (click)="setActive('Completed')"  ><a>Completed</a></li>
              </div>
            </ul>
          </div>
          <div class="link" routerLink="calendar">
            <li  [ngClass]="{'active':active == 'Calendar'}" (click)="setActive('Calendar')"  style="border-bottom: none;">
              <a class="icon"> <img src="../assets/cal.svg" alt="" /></a>
              <a>Calendar</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
