.left-menu {
    display: flex;
    background: #F5F9FD;
    width: 300px;
    min-height: 100%;
    justify-content: center;
}

.square {
  width: 40px;
  height: 40px;
  background-color: #4D77FB;
  border-radius: 10px;
}

#align-center {
  align-items: center;
  padding: 16px 32px 48px;
}

ul {
  width: 100%;
}

.icon {
  padding: 10%;
}

a#active {
  color: #424242;
  font-weight: 400;
}

li {
  flex-direction: row;
  border-bottom: 0.5px solid #DFE3E6;
  display: flex;
  align-items: center;
  height: 56px;
  align-self: center;
}

li:hover {
  background-color: rgb(223,227,230, 0.8);
}

a{
  text-decoration: none;
  color: #757575;
  font-weight: 350;
}

.submenu li {
  /*display: none;*/
  align-items: center;
  padding-left: 30%;
}

.link {
  cursor: pointer;
}

.expandable {
  overflow: hidden;
  /*transition: all .5s ease-in-out;
  height: 0;*/
 }
 
 .expandable:target {
  height: 168px;
}
 

.arrow {
  margin-left: auto;
  padding-right: 10%;
}

.wrap {
    margin-left: auto;
    padding-right: 10%;
}

.count { 
  font-size: 12px;
  background-color: #4D77FB;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}