<div class="left-menu">
  <div class="fixed">
    <div class="column">
      <div class="row" id="align-center">
        <div class="square" style="margin-right: 10px; color: #4d77fb;"></div>
        <p style="color: #4d77fb;">HR Module</p>
      </div>
      <div class="menu-card">
        <ul>
          <div class="link" routerLink="vacancy">
            <li>
              <a class="icon"> <img src="../assets/vac.svg" alt="" /></a>
              <a id="active">Vacancies</a>
              <div class="wrap"><a class="count" href="">{{ vacancyList.length }}</a></div>
            </li>
          </div>
          <div class="link" routerLink="employee">
            <li>
              <a class="icon"> <img src="../assets/emp.svg" alt="" /></a>
              <a>Employees</a>
            </li>
          </div>
          <!-- needs to be fixed -->
          <li
            type="button"
            data-toggle="collapse"
            data-target="#example"
            aria-expanded="true"
            aria-controls="example"
          >
            <a class="icon"> <img src="../assets/inter.svg" alt="" /></a>
            <a>Interviews</a>
            <!-- <a class="arrow"> <img src="../assets/up.svg" alt="" /></a> -->
            <a class="arrow"> <img src="../assets/down.svg" alt="" /></a>
          </li>
          <div class="collapse" id="example">
            <ul class="submenu">
              <div class="link" routerLink="interview/registered">
                <li><a>Registered</a></li>
              </div>
              <div class="link" routerLink="interview/approved">
                <li><a>Approved</a></li>
              </div>
              <div class="link" routerLink="interview/completed">
                <li><a>Cmopleted</a></li>
              </div>
            </ul>
          </div>
          <div class="link" routerLink="calendar">
            <li style="border-bottom: none;">
              <a class="icon"> <img src="../assets/cal.svg" alt="" /></a>
              <a>Calendar</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
