<nav class="d-none d-md-block sidebar">
  <div class="sidebar-sticky w-100">
    <ul class="nav">
      <li class="nav-item">
        <div class="row">
          <div class="col-12">
            <form class="form">
              <div class="form-group m-4 d-flex justify-content-between">
                <div class="logo mt-1 mr-3"></div>
                <label for="inputPassword2" class="sr-only">Search</label>
                <input
                  type="password"
                  class="form-control search"
                  id="inputPassword2"
                  placeholder="Search"
                />
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav flex-column mt-5 navigation">
      <li class="nav-item d-flex align-items-center">
        <div class="count"></div>
        <a class="nav-link active" routerLink="">Dashboard</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <div class="count"></div>
        <a class="nav-link" routerLink="vacancy">Vacancies</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <div class="count"></div>
        <a class="nav-link" routerLink="candidate">Candidates</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <div class="count"></div>
        <a class="nav-link" routerLink="employee">Employees</a>
      </li>

      <li class="nav-item d-flex align-items-center">
        <div class="count"></div>
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          >Interviews</a
        >
      </li>
      <div class="collapse" id="collapseExample">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" routerLink="">Registered</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" routerLink="">Approved</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" routerLink="">Completed</a>
        </li>
      </div>
      <li class="nav-item d-flex align-items-center">
        <div class="count"></div>
        <a class="nav-link" routerLink="">Calendar</a>
      </li>
    </ul>
  </div>
</nav>
