<div class="modal-header">
  <h4 class="modal-title">Employee Dialog</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="error" class="alert alert-danger">
  <p>{{ error }}</p>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-7">
      <form [formGroup]="form" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            ngbAutofocus
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Enter the name"
            required
          />
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input
            ngbAutofocus
            type="text"
            class="form-control"
            formControlName="surname"
            placeholder="Enter the surname"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            ngbAutofocus
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Enter the Email"
            required
          />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn cancel" (click)="activeModal.close(null)">
    Cancel
  </button>
  <button
    type="button"
    class="btn save"
    [disabled]="!form.valid"
    (click)="doSave()"
  >
    Save Employee
  </button>
</div>
