/* You can add global styles to this file, and also import other style files */

/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

html, body{
    font-family: Roboto;
    width: 100%;
    height: 100%;
}

* {
  outline: none;
}

.col-12 {
	z-index: 0;
}

p {
	margin-bottom: 0;
}

.form-control {
	font-weight: 300;
}

.container_ {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.modal-content {
	display: flex;
	border-radius: 16px;
	background-color: white;
	align-self: center;
	border: none;
}

.modal-header, .modal-footer, .modal-body{
	border : none;
	padding-left: 2rem;
	padding-right: 2rem;
}

.modal-header {
	padding-top: 2rem;
}

.modal-footer{
	padding-bottom: 2rem;
}

.column {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.card-column {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.card {
	width: 90%;
	align-self: center;
	background-color: #F5F9FD;
	border-radius: 10px;
	display: flex;
	align-self: center;
}

.menu-card {
	overflow: hidden;
	width: 80%;
	align-self: center;
	background-color: #EBF0F6;
	border-radius: 10px;
	display: flex;
}

#space-between {
    justify-content: space-between;
}

.row-card {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 70px 5% 5% 5%;
	align-items: center;
}

.add-round-btn{
  align-items: center;
  text-transform: uppercase;
  color: #2f80ed;
  background: #ffffff;
  border: 1px solid #4D77FB;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.add-round-btn:hover {
    background: #4D77FB;
    color:  #ffffff;
}

.navbar {
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 50px;
	border-bottom: 0.5px solid #efefef;
	position: fixed;
    background-color: white;
}

.fixed {
    position: fixed;
    width: inherit;
    display: flex;
    justify-content: center;
}
