/* You can add global styles to this file, and also import other style files */

/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

html, body{
    font-family: Roboto;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.column {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.card {
	margin-top: 100px;
	width: 90%;
	align-self: center;
	background-color: #F5F9FD;
	border-radius: 10px;
	display: flex;
}

.menu-card {
	width: 80%;
	align-self: center;
	background-color: #EBF0F6;
	border-radius: 10px;
	display: flex;
}


.navbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 50px;
	border-bottom: 0.5px solid #efefef;
	position: fixed;
    background-color: white;
}

.fixed {
    position: fixed;
    width: inherit;
    display: flex;
    justify-content: center;
}