/* You can add global styles to this file, and also import other style files */

/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

html, body{
    font-family: Roboto;
    width: 100%;
    height: 100%;
}

* {
  outline: none;
}

.col-12 {
	z-index: 0;
}

p {
	margin-bottom: 0;
}

.form-control {
	font-weight: 300;
}

.container_ {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.modal-content {
	display: flex;
	border-radius: 16px;
	background-color: white;
	align-self: center;
	border: none;
}

.modal-header, .modal-footer, .modal-body{
	border : none;
	padding-left: 2rem;
	padding-right: 2rem;
}

.modal-header {
	padding-top: 2rem;
}

.modal-footer{
	padding-bottom: 2rem;
}

.column {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.card-column {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.card {
	width: 90%;
	align-self: center;
	background-color: #F5F9FD;
	border-radius: 10px;
	display: flex;
	align-self: center;
	border:none;
	box-shadow: 0px 2px 15px -4px rgba(87,87,87,0.11);
}

.menu-card {
	overflow: hidden;
	width: 80%;
	align-self: center;
	background-color: #EBF0F6;
	border-radius: 10px;
	display: flex;
}

#space-between {
    justify-content: space-between;
}

.row-card {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 90px 5% 5% 5%;
	align-items: center;
}

.add-round-btn{
  align-items: center;
  text-transform: uppercase;
  color: #2f80ed;
  background: #ffffff;
  border: 1px solid #4D77FB;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.col-12 {
	z-index: 0;
}

.add-round-btn:hover {
    background: #4D77FB;
    color:  #ffffff;
}

.fc-state-hover {
	color: #4D77FB;
}

.fc-event:hover {
  color: #4D77FB;
 }

.navbar {
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 50px;
	border-bottom: 0.5px solid #efefef;
	position: fixed;
    background-color: white;
}

.fixed {
    position: fixed;
    width: inherit;
    display: flex;
    justify-content: center;
}



.fc-event,.fc-event:hover,.fc-state-hover,.fc.fc-bootstrap3 a,.ui-widget .fc-event,a.fc-more{text-decoration:none}.fc{direction:ltr;text-align:left}.fc-rtl{text-align:right}.fc th,.fc-basic-view .fc-day-top .fc-week-number,.fc-basic-view td.fc-week-number,.fc-icon,.fc-toolbar{text-align:center}.fc-highlight{background:#bce8f1;opacity:.3}.fc-bgevent{background:#8fdf82;opacity:.3}.fc-nonbusiness{background:#d7d7d7}.fc button{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;height:2.5em;padding:0 .6em;cursor:pointer}.fc button::-moz-focus-inner{margin:0;padding:0}.fc-state-default{background-color:#4D77FB;color:#fff;border-color:#4D77FB;background-image:none;}.fc-state-default.fc-corner-left{border-top-left-radius:8px;border-bottom-left-radius:8px}.fc-state-default.fc-corner-right{border-top-right-radius:8px;border-bottom-right-radius:8px}.fc button .fc-icon{position:relative;top:-.05em;margin:0 .2em;vertical-align:middle}.fc-state-active,.fc-state-disabled,.fc-state-down,.fc-state-hover{color:#4D77FB;background-color:#fff;border-color:#4D77FB}.fc-state-hover{color:#333;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}.fc-state-active,.fc-state-down{background-color:#fff;background-image:none}.fc-state-disabled{cursor:default;background-image:none;opacity:.65;box-shadow:none}.fc-event.fc-draggable,.fc-event[href],.fc-popover .fc-header .fc-close,a[data-goto]{cursor:pointer}.fc-button-group{display:inline-block}.fc .fc-button-group>*{float:left;margin:0 0 0 -1px}.fc .fc-button-group>:first-child{margin-left:0}

.fc-state-default {
	background-image: none;
	text-shadow:none;
	 box-shadow:none;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #4D77FB; }

.fc-left h2 {
	font-size: 1.5rem;
}

.fc button, .fc table, body .fc {
    font-size: 0.9em;
}

ol, ul, dl {
	margin-bottom: 0;
}

#dropdownMenuLink {
	cursor: pointer;
}

.dropdown-menu {
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 15px -4px rgba(87,87,87,0.21);
    text-align: center;
    font-weight: 200;
}

.dropdown-item {
	font-weight: 300;
}

.card .row:last-child { border-bottom: none; }

